<div class="col-md-4 col-lg-3 col-sm-6 col-xs-12 idevelop-col animated fadeInLeft">
    <div class="post-column">
        <div class="post-cat" style="background-color: {{ post.color }} "><a href="{{ post.cat_link }}">{{ post.cat_name }}</a></div>
        <h3>
            <a href="{{ post.post_link }}">{{ post.post_title }}</a>
        </h3>
        <p>
            {{ post.content }}</a>
        </p>
    </div>
</div>